@import "tailwind-colors-scss";

@import "./assets/light.css"(prefers-color-scheme: light);
@import "./assets/dark.css"(prefers-color-scheme: dark);

$container-size: 800px;

@mixin large {
  @media screen and (min-width: #{$container-size}) {
    @content;
  }
}

@mixin dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$container-size}) {
    @content;
  }
}

@mixin light {
  @media (prefers-color-scheme: light) {
    @content;
  }
}

$font-sans: "Open Sans", system-ui, sans-serif;

$font-monospace: Consolas,
  SFMono-Regular,
  SF Mono,
  "Roboto Mono",
  "Droid Sans Mono",
  "Source Code Pro",
  ui-monospace,
  Menlo,
  Consolas,
  Liberation Mono,
  monospace;

:root {
  color-scheme: light dark;
  --base-fg: #222;
  --base-bg: #fff;
  --link-color: #{darken($tw-cyan-600, 5%)};
  --link-visited-color: #{darken($tw-violet-500, 5%)};
  --code-fg: #{$tw-slate-800};
  --code-bg: #{$tw-slate-100};
  --copy-button-bg: #{$tw-slate-200};
  --copy-button-hover-bg: #{$tw-slate-300};
  --copy-button-active-bg: #{$tw-slate-400};
  --font-monospace: #{$font-monospace};
  --border-color: #767676;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-bg: #{$tw-slate-900};
    --base-fg: rgba(255, 255, 255, 0.87);
    --link-color: #{$tw-cyan-300};
    --link-visited-color: #{$tw-violet-400};
    --code-fg: #{$tw-slate-200};
    --code-bg: #{$tw-slate-700};
    --copy-button-bg: #{$tw-slate-700};
    --copy-button-hover-bg: #{$tw-slate-600};
    --copy-button-active-bg: #{$tw-slate-500};
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  color: var(--base-fg);
  font-family: $font-sans;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  overflow-x: hidden;
  background: var(--base-bg);

  >main {
    flex: 1;
  }
}

header {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1rem;

  h1 {
    margin-bottom: 0.25em;
  }

  a:visited {
    color: var(--link-color);
  }
}

header nav,
footer nav {
  ul {
    font-size: 1.125em;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    padding: 0;
  }

  li {
    display: flex;
    padding: 0.125em 0;
  }
}

footer {
  border-top: 1px solid var(--base-fg);
  margin: 2.5rem auto;
  text-align: center;
  width: 100%;

  p {
    margin: 0;
  }

  nav {
    text-align: left;

    ul {
      flex-direction: column;
      margin-top: 1rem;
    }
  }
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: var(--link-visited-color);
  }
}

.container {
  width: $container-size;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0 1.125rem;
  }
}

pre,
code {
  font-family: $font-monospace;
}

pre code {
  white-space: pre-wrap;
  -webkit-text-size-adjust: 100%;
}

pre.chroma {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-radius: 0.25em;

  .line {
    padding-inline: 0.5em;
  }
}

:not(pre)>code {
  background: var(--code-bg);
  color: var(--code-fg);
}

:not(pre) a>code {
  color: var(--link-color);
}

figure img,
main img {
  max-width: 100%;
}

figure {
  text-align: center;
  margin: 2rem auto;
  counter-increment: figure;
  max-width: 80%;

  &.bordered-figure {
    @media (prefers-color-scheme: light) {
      img {
        outline: 1px solid #ccc;
      }
    }
  }
}

figcaption {
  margin-top: 0.5em;

  &::before {
    content: "Fig. " counter(figure) ": ";
  }
}

#section-title {
  margin-top: 0;
  font-size: 1.8em;
  line-height: 1.5;
}

.copy-to-clipboard {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  transition: opacity 0.2s ease-in-out;
  font-size: 1rem;
  cursor: pointer;
  font-family: inherit;

  border: 1px solid var(--border-color);
  background: var(--copy-button-bg);
  padding: 0.25em 0.5em;
  border-radius: 3px;

  &.is-centered {
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    background: var(--copy-button-hover-bg);
  }

  &:active {
    background: var(--copy-button-active-bg);
  }
}

pre code {
  tab-size: 4;
}

.language-html {
  tab-size: 2;
}

main.content {
  font-size: 1.125em;
  width: 100%;

  @include mobile {
    font-size: 1.0625rem;
  }

  h2 {
    font-size: 1.375em;
    margin-bottom: 0.5em;
    line-height: 1.375;
  }

  h3 {
    font-size: 1.125em;
    margin-bottom: 0.25em;
    line-height: 1.25;
  }
}

.gist {
  background: var(--gist-bg);
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  font-size: 1rem;
  overflow: hidden;

  margin-top: 1rem;
  margin-bottom: 1rem;

  @include dark {
    border: 1px solid #2a4555;
  }

  @include light {
    border: 1px solid var(--border-color);
  }

  @include mobile {
    font-size: 0.9375rem;
  }

  .line {
    padding-inline: 0;
  }

  pre {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.75rem;
  }

  code {
    white-space: pre-wrap;
  }

  .gist-title {
    font-size: 1em;
    font-weight: bold;
    font-family: $font-monospace;
    padding-inline: 0.75rem;
    margin: 0;
    line-height: 46px;
    min-height: 46px;
    width: 100%;
    word-break: break-all;

    @include mobile {
      line-height: 1.5;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    +pre {
      padding-top: 0;
    }
  }

  &:not(:hover) {
    .copy-to-clipboard {
      opacity: 0;
    }
  }

  .line-numbers {
    counter-reset: lineNumber;
    position: relative;
    --line-number-color: var(--border-color);
    --line-number-opacity: 1;

    @include dark {
      --line-number-color: currentColor;
      --line-number-opacity: 0.7;
    }

    padding-left: 4em;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0.75rem;
      left: 3em;
      width: 1px;
      background: var(--line-number-color);
      opacity: var(--line-number-opacity);
    }

    .line {
      position: relative;
      counter-increment: lineNumber;

      &::before {
        content: counter(lineNumber);
        color: var(--line-number-color);
        position: absolute;
        opacity: var(--line-number-opacity);
        left: -4em;
        width: 2.25em;
        text-align: right;
      }
    }
  }
}

aside.toc {
  ul {
    list-style: none;
    padding-left: 0;

    ul {
      padding-left: 1em;
      margin-bottom: 0.5em;
    }
  }

  a:visited {
    color: var(--link-color);
  }
}

@include large {
  main.container {
    position: relative;
    display: grid;
    grid-template-columns: 250px $container-size 250px;
    width: 100%;
    padding-inline: 1.25rem;
    margin-inline: auto;
    gap: 1.25rem;
    justify-content: center;
  }

  .content {
    overflow: hidden;
    max-width: $container-size;
    margin-inline: auto;
  }

  aside.toc {
    position: sticky;
    height: 0;
    top: 0;
    background: white;
    font-size: 0.875em;
  }
}

header,
header nav {
  text-align: center;

  ul {
    justify-content: center;
  }
}

@media screen and (max-width: #{500px + $container-size + 40px}) {
  main.container {
    grid-template-columns: 250px 1fr;
  }

  .content {
    max-width: unset;
  }
}

@include mobile {
  .hide-on-mobile {
    display: none;
  }
}
