// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "./assets/chroma.css";

$container-size: 768px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  color: #222;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  overflow-x: hidden;

  >main {
    flex: 1;
  }
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;

  h1 {
    margin-bottom: 0.25em;
  }

  nav {
    ul {
      font-size: 1.125em;
      margin-top: 0;
      display: flex;
      flex-wrap: wrap;
      column-gap: 1.5rem;
    }
  }
}

footer {
  border-top: 1px solid #222;
  margin: 2.5rem auto;
  text-align: center;
  width: 100%;

  p {
    margin: 0;
  }

  nav {
    text-align: left;
  }
}

nav {
  ul {
    padding: 0;
  }

  li {
    display: flex;
    padding: 0.125em 0;
  }
}

a {
  color: #00e;
  text-decoration: none;
}

.container {
  width: 768px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0 1.125rem;
  }
}

pre,
code {
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
}

pre code {
  white-space: pre-wrap;
  -webkit-text-size-adjust: 100%;
}

pre.chroma {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

:not(pre)>code {
  background: #eee;
  color: #2c3e50;
  font-size: 0.875em;
}

:not(pre) a>code {
  color: blue;
}

figure img,
main img {
  max-width: 100%;
}

figure {
  text-align: center;
  margin: 2rem auto;
  counter-increment: figure;
  max-width: 80%;
}

figcaption {
  margin-top: 0.5em;

  &::before {
    content: "Fig. " counter(figure) ": ";
  }
}

#section-title {
  margin-top: 0;
  font-size: 1.8em;
  line-height: 1.5;
}

.highlight {
  position: relative;

  &:not(:hover) {
    .copy-to-clipboard {
      opacity: 0;
    }
  }
}

.copy-to-clipboard {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}
