*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  color: #222;
  font-family: Georgia, serif;
  line-height: 1.5;
  margin: 1rem;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  text-align: center;
  padding-top: 1rem;

  p {
    margin: 0;
  }
}

a {
  color: #00e;
  text-decoration: none;
}

.container {
  max-width: 768px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

pre,
code {
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
}

:not(pre)>code {
  background: #eee;
  color: #2c3e50;
  font-size: 0.875em;
}

:not(pre) a>code {
  color: blue;
}
