<meta charset="utf-8">
<meta name="description"
  content="Webauthn tutorials and reference, written by a developer for developers. Learn to integrate passkeys in your Elixir or Golang website.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Karol Moroz">
<meta name="keywords"
  content="Webauthn, Web Authentication, Passkeys, Security, Public Key Cryptography, FIDO2, U2F, Multi-Factor Authentication, Elixir, Golang, Phoenix">

<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
